---
layout: default.hbs
subject: New Contact Form submission on Immigration Wizard
---
<span class="preheader">New Contact Form submission on Immigration Wizard:</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="https://immigration-wizard.abogadoray.com"><img src="https://immigration-wizard.abogadoray.com/auth-logo.png" height="50" alt="Immigration Wizard"></a>
      </td>
    </tr>
		<tr>
			<td class="align-center">
        <h1>Immigration Wizard</h1>
      </td>
		</tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>


                <h3><strong>Date</strong></h3>
                <p>{date}</p>

                <h3><strong>Name</strong></h3>
                <p>{name}</p>

                <h3><strong>Email</strong></h3>
                <p>{email}</p>

                <h3><strong>Phone Number</strong></h3>
                <p>{phone}</p>

                <h3><strong>Message</strong></h3>
                <p>{message}</p>


          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> follow_ray }}</p>
      </td>
    </tr>
  </table>
</div>
